In [1]:
# Pandas apppend function is used to append rows of other data frame to the 
#end of the given datafarme, returning a new datafarme object.

In [2]:
#Syntax:DataFrame.append()
# Parameter:
#     other
#     ignore_index
#     sort

In [3]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]})
df2 = pd.DataFrame({'A':[4,5,6],
                   'B':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [7]:
df1.append(df2)

C:\Users\shubh\AppData\Local\Temp\ipykernel_10544\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   A   B
0  1  10
1  2  20
2  3  30
0  4  40
1  5  50
2  6  60

In [8]:
df1.append(df2,ignore_index=True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_10544\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60

In [10]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]})
df2 = pd.DataFrame({'C':[4,5,6],
                   'B':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   B
0  4  40
1  5  50
2  6  60

In [12]:
df1.append(df2,ignore_index=True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_10544\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

     A   B    C
0  1.0  10  NaN
1  2.0  20  NaN
2  3.0  30  NaN
3  NaN  40  4.0
4  NaN  50  5.0
5  NaN  60  6.0

In [13]:
df1.append(df2,ignore_index=True,sort=False)

C:\Users\shubh\AppData\Local\Temp\ipykernel_10544\74661900.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True,sort=False)

     A   B    C
0  1.0  10  NaN
1  2.0  20  NaN
2  3.0  30  NaN
3  NaN  40  4.0
4  NaN  50  5.0
5  NaN  60  6.0