In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
list_s=[1,2,-3,6.2,"data value"]
print(list_s)

[1, 2, -3, 6.2, 'data value']

In [4]:
series1=pd.Series(list_s) #Creating Series
print(series1)

0             1
1             2
2            -3
3           6.2
4    data value
dtype: object

In [5]:
type(series1) # Cheaking Type of series

pandas.core.series.Series

In [6]:
series2 = pd.Series([1,2,3,4,5]) # Creating Series.
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
empty_s = pd.Series([]) # Creating empty Series
print(empty_s)

Series([], dtype: float64)

C:\Users\shubh\AppData\Local\Temp\ipykernel_16092\1073984581.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([]) # Creating empty Series

In [8]:
 series3 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e']) #Creating Series and changing Index.
 print(series3)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
series3 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'], dtype= float) #Creating Series and changing data type.
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [10]:
series3 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'], dtype= float, name="data value") #Adding Name
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: data value, dtype: float64

In [11]:
scalar_s = pd.Series(0.5) # creating Scalar value data Series.
print(scalar_s)

0    0.5
dtype: float64

In [13]:
scalar_s = pd.Series(0.5,index=['a']) # creating Scalar value data Series.
print(scalar_s)

a    0.5
dtype: float64

In [17]:
dict_s = pd.Series({'a':1,'b':2,'c':3}) # Creating Disctionary value data series.
print(dict_s)

a    1
b    2
c    3
dtype: int64

In [20]:
s4=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']) # Creating Numpy Array From pandas Series
print(s4)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [25]:
print(s4['a'])
print(s4['b'])
print(s4['c'])
print(s4['d'])
print(s4['e'])
print(s4['f'])

1
2
3
4
5
6

In [26]:
s5=pd.Series(['a','b','c', 'd', 'e','f'])
print(s5)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [27]:
s5[0:3] # slicing index

0    a
1    b
2    c
dtype: object

In [28]:
max(s5) # finding Maximum Value

'f'

In [29]:
min(s5) # finding Minimum Value

'a'

In [31]:
s5[s5>'b'] # using Conditional Operator

2    c
3    d
4    e
5    f
dtype: object

In [32]:
s6=pd.Series([1,2,3,4,5])
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
s7=pd.Series([6,7,8,9,10])
print(s7)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [35]:
s6 + s7 # Applying Mathematical operation on two panda series.

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [36]:
s6 - s7 # Applying Mathematical operation on two panda series.

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [37]:
s6 * s7  # Applying Mathematical operation on two panda series.

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [38]:
s6 / s7 # Applying Mathematical operation on two panda series.

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [39]:
s7%s6 # Applying Mathematical operation on two panda series.

0    0
1    1
2    2
3    1
4    0
dtype: int64

In [40]:
s8= pd.Series([1.1,2.2,3.3])
print(s8)

0    1.1
1    2.2
2    3.3
dtype: float64

In [41]:
s6+s8  # Applying Mathematical operation on two unequal series.

0    2.1
1    4.2
2    6.3
3    NaN
4    NaN
dtype: float64