In [1]:
import pandas as pd

# How to create python pandas Data frame

In [3]:
emt_df=pd.DataFrame() # printing Empty Data Frame
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
list_1=['a','b','c','d'] # Creating List
print(list_1)

['a', 'b', 'c', 'd']

In [6]:
df1=pd.DataFrame(list_1) # Creating Data Frame oof list
print(df1)

   0
0  a
1  b
2  c
3  d

In [7]:
df1

   0
0  a
1  b
2  c
3  d

In [8]:
list_of_list=[[1,2,3],[2,3,4],[5,6,7]] # creating List of list 
print(list_of_list)

[[1, 2, 3], [2, 3, 4], [5, 6, 7]]

In [9]:
df2=pd.DataFrame(list_of_list) # Creating Data Frame of List of List.
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  5  6  7

In [18]:
dict1 = {'Id':[11,12,33,56,89],'Roll No':[1,2,3,4,5],'subject':['Math','phy','che','sst','Gk']}# Creating dictionary
print(dict1)

{'Id': [11, 12, 33, 56, 89], 'Roll No': [1, 2, 3, 4, 5], 'subject': ['Math', 'phy', 'che', 'sst', 'Gk']}

In [19]:
df3= pd.DataFrame(dict1)
print(df3)

   Id  Roll No subject
0  11        1    Math
1  12        2     phy
2  33        3     che
3  56        4     sst
4  89        5      Gk

In [20]:
list_of_dict=[{'a':1,'b':2},{'a':3,'b':4}]
print(list_of_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [22]:
df5=pd.DataFrame(list_of_dict)# printing- list of dictionary of equal data
df5

   a  b
0  1  2
1  3  4

In [24]:
list_of_dict2=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
print(list_of_dict2)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]

In [25]:
df6=pd.DataFrame(list_of_dict2)# printing- list of dictionary of unequal data and pandas has a property to handeling missing data.
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [28]:
dict_series={'Id':pd.Series([11,22,33,44]),'SN':pd.Series([1,2,3,4])}
print(dict_series)

{'Id': 0    11
1    22
2    33
3    44
dtype: int64, 'SN': 0    1
1    2
2    3
3    4
dtype: int64}

In [29]:
df7=pd.DataFrame(dict_series)
df7

   Id  SN
0  11   1
1  22   2
2  33   3
3  44   4