# Pandas Loc and iloc Method

# Pnadas Loc

In [1]:
# It return the value of data set from desired location.
# Access a group of Rows & Columns by label(s) or a boolean array.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("D:\CSV\student_results.csv")
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [5]:
df.loc[5] # single label or single index

Student ID                1006
Class                       11
Study hrs                   10
Sleeping hrs                 7
Social Media usage hrs       0
Mobile Games hrs             0
Percantege                  96
Name: 5, dtype: int64

In [6]:
df.loc[0] # returning value of oth level.

Student ID                1001
Class                       10
Study hrs                    2
Sleeping hrs                 9
Social Media usage hrs       3
Mobile Games hrs             5
Percantege                  50
Name: 0, dtype: int64

In [8]:
df.loc[[1,2,3]] #List of array of level.

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45

In [9]:
df.loc[[2,5]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
2,1003,10,3,8,2,4,60
5,1006,11,10,7,0,0,96

In [10]:
df.loc[4,'Class']

11

In [11]:
df.loc[0:3,'Class'] # slice operator

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [12]:
df.loc[0:2,'Percantege']

0    50
1    80
2    60
Name: Percantege, dtype: int64

In [14]:
df.loc[[False,False,True,True,True,False,False,True,True,False]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60

In [15]:
df.loc[df['Class']<11]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60

In [16]:
df.loc[df['Class']<11,'Percantege']

0    50
1    80
2    60
Name: Percantege, dtype: int64

# Pandas iloc

In [17]:
# it is integer location based indexing

In [18]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Sleeping hrs                 9
Social Media usage hrs       3
Mobile Games hrs             5
Percantege                  50
Name: 0, dtype: int64

In [19]:
df.iloc[[0]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50

In [23]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010
Name: Student ID, dtype: int64

In [24]:
df.loc[:,0]

KeyError: 0

In [25]:
df.iloc[[0,1]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80

In [26]:
df.iloc[[False,False,True,True,True,False,False,True,True,False]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60